body,html{}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; 
}
  .fontConsultora {
    color : black;
    font-family: "CormorantUpright-Regular";
    font-size : calc(10px + 4vmin);
    font-weight: bold;
  }


.App-logo {
  margin-top: 20px;
  height: 40vmin;
  pointer-events: none;
}

 @media (prefers-reduced-motion: no-preference) {
  .anim{
    animation: App-logo-spin infinite 2s linear;
    animation-direction : alternate-reverse;
  }
} 
@font-face {
  font-family: "CormorantUpright-Regular";
  src: url("./font/CormorantUpright-Regular.ttf");
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

 a {
  color : black!important;
  text-decoration: none!important;
}
